/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'SUIT-Variable', sans-serif;
  font-size: var(--base-font-size);
  color: var(--black, #121212);

  input {
    &:focus {
      outline-color: var(--blue);
    }
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }

  a,
  label,
  span {
    color: inherit;

    &:focus {
      outline-color: var(--blue);
    }
  }
}

.container {
  display: block;
  inline-size: 100vw;
  block-size: calc(100vh - var(--logo-margin-top) - var(--logo-margin-bottom));

  @media (width >= 768px) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

.logo {
  display: block;
  inline-size: 230px;
  margin-inline: auto;
  margin-block-start: 6.25rem;
  margin-block-end: 3.125rem;
}

#login-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-inline: var(--form-inline-margin);
  inline-size: calc(100% - var(--form-inline-margin) * 2);

  @media (width >= 768px) {
    inline-size: calc(500px - var(--form-inline-margin) * 2);
  }

  fieldset {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    inline-size: 100%;

    input[name='user-id'],
    input[name='user-password'] {
      inline-size: 100%;
      block-size: var(--default-input-height);
      font-size: var(--input-font-size);
      border: 1px solid var(--gray);
      background: var(--white);
      padding-inline: 1.25rem;

      &:focus {
        outline: none;
        box-shadow: 0 0 2px 1px var(--green);
        background: var(--skyblue);
      }
    }

    .error {
      display: none;
      color: rgb(255, 44, 44);
      font-size: var(--input-font-size);
      margin-inline-start: 1.25rem;
      margin-block-start: 0.3125rem;
    }

    input:user-invalid ~ .error {
      display: inline-block;
    }

    #password-input-box {
      margin-block-start: 0.625rem;
    }

    #login-button {
      inline-size: 100%;
      block-size: var(--default-input-height);
      margin-block-start: 1.25rem;
      font-size: var(--base-font-size);
      color: var(--white);
      background: var(--green);

      &:focus {
        outline-color: var(--blue);
      }
    }

    .switch {
      display: flex;
      flex-flow: row nowrap;
      margin-block-start: 0.625rem;
      color: var(--black);
      font-size: var(--base-font-size);

      input {
        appearance: none;
        background: transparent;
      }
    }

    .login-maintain {
      margin-inline-start: auto;

      @media (width >= 768px) {
        margin-inline-start: 0;
        margin-inline-end: auto;
      }

      #login-maintain-checkbox {
        inline-size: 24px;
        block-size: 24px;
        margin-inline-end: var(--checkbox-margin-right);
        background: url(../images/unchecked.svg) no-repeat;
        order: -1;
      }

      #login-maintain-checkbox:checked {
        background: url(../images/checked.svg) no-repeat;
      }
    }

    .ip-security {
      display: none;
      font-size: var(--base-font-size);
      color: var(--black);

      @media (width >= 768px) {
        display: block;
      }

      a {
        margin-inline-end: var(--checkbox-margin-right);
      }

      #ip-security-checkbox {
        font-size: inherit;
        &::before {
          content: 'OFF';
          color: color-mix(in srgb, var(--black), white);
        }
      }

      #ip-security-checkbox:checked {
        &::before {
          content: 'ON';
          color: var(--green);
        }
      }
    }
  }
}
